/*colores a usar BORRAR LUEGO ESTE COMENTARIO
1d1d1b
ae9a64
e42313
8b8c8d

*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#f6f6f6;
    min-height: 50vh;
}

.fondo-azul{
    background-color:#3670cc;
}

/*navegacion*/
#logo{
    width: 8rem;
}

.lista-navegacion{
    box-shadow: 0px 0px 5px #000000;

    padding:1rem 0;
    z-index:150;
    position:fixed;
    top: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

.item-navegacion{
    list-style: none;
    margin-right:auto;

}

.item-navegacion a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}   

.item-navegacion a:hover{
    color:#8b8c8d;
}

.main{
    margin-top: 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

@media screen and (max-width:460px){
    .item-navegacion{
        margin-left: auto;
    }

    .item-navegacion a{
        font-size:0.80rem;
        text-transform: uppercase;
    }

    .lista-navegacion{
        flex-direction: column;
    }
    .main{
        margin-top:11.5rem;
    }
}

/*Main*/
.contenedor-imagen{
    position:relative;
    height:50rem;
    overflow: hidden;
    background: url(assets/banner-transporte.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 3px 15px black;
}

.titulo-principal{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #0000005e;
    border-radius: 4px;
    transition-duration: 0.5s;
}

.titulo-principal h1{
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
}

.quote-titulo{
    margin:0.5rem;
    display: block;
    font-size: 1.3rem;
    text-shadow: 0 0 10px black;
}

.titulo-principal:hover{
    background-color: #000000b6;
}

@media screen and (max-width:960px){
    .titulo-principal h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width:660px){
    .titulo-principal h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width:460px){
    .titulo-principal h1 {
        font-size: 1.5rem;
    }
    .quote-titulo{
        font-size: 0.8rem;
    }
    .contenedor-imagen{
        height: 30rem;
        margin-top:-1rem;
    }
}

.contenedor-acerca{
    min-height: 100vh;
    margin: 0 1rem 0 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:460px){
    .contenedor-acerca{
        margin-top: 1rem;
    }
}
.historia{
    text-shadow: 0 1px 1px black;
}

.historia h1, .preguntas-frecuentes h2{
    text-align: center;
    margin-bottom:0.3rem;
    font-family: 'Poppins', sans-serif;
    text-shadow:none;
    background-color: #295cad2d; 
}

/*FAQ MENU - main*/
.preguntas-frecuentes{
    margin-top: 1rem;
    max-width:37.5rem;
    padding:0 1.25rem;
}
.preguntas-frecuentes input{
    display:none;
}
.tab-mayor input:checked ~ .contenido-tab,
.tab-menor input:checked ~ .subcontenido-tab{
    max-height: 100vh;
}
.tab-3 input:checked ~ .contenido-tab{
    padding: 0.90rem 1.12rem;
}

.preguntas-frecuentes .tab-mayor,.preguntas-frecuentes  .tab-menor{
    margin-bottom: 0.5rem;
    border-radius: 3px;
    box-shadow:0px 0px 5px #000000;
}

.preguntas-frecuentes .tab-mayor label, .preguntas-frecuentes .tab-menor label{
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    background-color: #286bd8;
    padding: 0.625rem 1.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    position: relative;
    z-index:50;
}
.tab-mayor input:checked ~ label .icon i:before, .tab-menor input:checked ~ label .icon i:before{
    content:'\f068'
}

.preguntas-frecuentes .tab-mayor label:hover, .preguntas-frecuentes .tab-menor label:hover{
    cursor:pointer;
}

.preguntas-frecuentes label span{
    color:#fff;
    font-size: 1.50rem;
}

.tab-menor label span{
    font-size: 1.15rem;
}
.preguntas-frecuentes label .icon{
    position: relative;
    height:1.875rem;
    width: 1.875rem;
    color:#286bd8;
    display:block;
    background-color: #fff;
    border-radius:50%;
}
.preguntas-frecuentes label .icon i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.contenido-tab p, .subcontenido-tab p{
    font-size: 1rem;
    padding: 0.90rem 1.12rem;
}
.contenido-tab, .subcontenido-tab{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding:0.2rem;
}

/*Footer y copyrigth*/
.footer{
    position: sticky;
    top:100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contenedor-contacto{
    border-top:1px solid #8b8c8da6;
    border-bottom:1px solid #8b8c8da6;
    width: 100%;
    background-color:#295cad;
}

.formulario-contacto{
    width: 85%;
    max-width: 37.5rem;
    background-color: #4e82d5;
    margin: 0.5rem auto 0.5rem auto;
    padding:1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0px 5px 10px #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.formulario-contacto h1{
    font-family: 'Poppins', sans-serif;
    margin-top:0;
    font-weight: bold;
}

.item-formulario{
    border: 1px solid rgba(0, 0, 0, 0.212);
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.item-formulario label{
    display: block;
    text-align: left;
    font-size: 0.90rem;
}

.item-formulario input, .item-formulario textarea{
    width: 100%;
    border:none;
    outline:none;
    font-size: 0.90rem;
    margin-top: 0.4rem;
}
.item-formulario input{
    height:1.5rem;
}

.item-formulario textarea{
    height: 5rem;
    resize: none;
}

.btn-enviar{
    display: inline-block;
    width: 100%;
    background-color: #0707f669;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px #000000;
}
.btn-enviar:hover{
    cursor:pointer;
}
.alertas{
    width: 12.5rem;
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
    color:rgb(92, 22, 22);
    padding-top: 1.12rem;
}
.copyrigth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: #000000be;
    color:whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.whatsapp{
    width: 16rem;
    height: 16rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.472);
    display:inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

.whatsapp a i{
    font-size: 15rem;
    color: green;
}